.rbc-calendar {
  margin: 1rem;
}
.rbc-today {
  background: #fff;
}
.rbc-toolbar button {
  -webkit-transition: all 0.1s 0.1s;
  transition: all 0.2s 0.1s;
  line-height: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.rbc-toolbar button:active,
.rbc-toolbar button:hover,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus,
.rbc-toolbar button:focus {
  background: #effaf7;
  color: #13b68f;
  border-color: #b4bac5;
  box-shadow: none;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 22px;
  font-weight: 700;
}

.rbc-header {
  /*padding: 10px 3px;  Removed as impacting on Week panel*/
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #b4bac5;
}

.rbc-header + .rbc-header {
  border-left: 1px solid #b4bac5;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #b4bac5;
}

.rbc-current .rbc-button-link {
  color: white;
}

.rbc-current .rbc-button-link:after {
  content: "";
  background: #13b68f;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: -11%;
  z-index: -1;
  top: -1px;
  text-align: center;
}

.rbc-date-cell {
  text-align: center;
}

.rbc-date-cell.rbc-now .rbc-button-link {
  color: #fff !important;
}

.rbc-button-link {
  position: relative;
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
}
.rbc-button-link.rbc-show-more {
  font-size: 12px;
  color: #13b68f;
  padding: 0px 0 0 4px;
  margin-top: 4px;
}

.rbc-off-range-bg {
  background: #e9ecf2;
}

.rbc-off-range {
  color: #b4bac5;
}

.rbc-month-view {
  border: 1px solid #b4bac5;
}
.rbc-month-view .rbc-header {
  padding: 10px 3px;
}

/* Only for RBC Time View ( Week ) */
.rbc-time-view{
  border-color: #B4BAC5;
}
.rbc-time-view .rbc-header {
  padding: 10px 3px;
}
.rbc-time-view
  .rbc-time-header-content
  .rbc-time-header-cell
  .rbc-header
  .rbc-button-link
  span {
  font-weight: 600;
  font-size: 14px;
 }
.rbc-time-view .rbc-time-header .rbc-time-header-content > .rbc-row {
  min-height: 40px;
}

.rbc-time-slot .rbc-label {
  color: #333;
  font-size: 14px;
  padding: 0 9px;
}

.rbc-event,
.rbc-day-slot .rbc-background-event, 
.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  font-size: 12px;
  background-color: #d4f3ff;
  color: #333;
  outline: none;
  margin-top: 5px
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: none;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #b4bac5;
  flex: 1 0 0;
}



.rbc-btn-group:first-child > button:not(:first-child):not(:last-child) {
  background: url(assets/arrow_back_ios.svg) no-repeat 4px center;
  background-size: 25px 12px;
}


.rbc-btn-group:first-child > button:last-child:not(:first-child) {
  background: url(assets/arrow_forward_ios.svg) no-repeat 46px center;
  background-size: 12px 12px;
}
.rbc-btn-group:first-child > button:last-child:not(:first-child):hover,
.rbc-btn-group:first-child > button:not(:first-child):not(:last-child):hover {filter: brightness(0) saturate(100%) invert(73%) sepia(52%) saturate(7436%) hue-rotate(132deg) brightness(100%) contrast(85%);}

.rbc-btn-group {
  display: flex;
}

.rbc-btn-group:first-child > button:not(:first-child):not(:last-child) {
  order: 1;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 25px;
}
.rbc-btn-group:first-child > button:first-child:not(:last-child) {
  order: 2;
  border-radius: 4px;
  border-radius: 0;
  margin-left: -1px;
}
.rbc-btn-group:first-child > button:last-child:not(:first-child) {
  order: 3;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 25px;
}

/* Agenda View */
.rbc-agenda-view table.rbc-agenda-table
{
  border-color: #B4BAC5;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr
{
  border-color: #B4BAC5;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
  font-size: 14px;
  color: #333;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td:first-child{
  padding: 5px 23px 5px 5px;
    border-right: solid 1px #b4bac5;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid #b4bac5
}
.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell{
  padding-left: 5px;
}

.rbc-time-header.rbc-overflowing{
  border-color: #B4BAC5;
}

.rbc-time-header-content {
  border-color: #B4BAC5;
}
.rbc-time-content {
  border-color: #B4BAC5;
}
.rbc-time-content > * + * > * {
  border-color: #B4BAC5;
}

.rbc-timeslot-group{
  border-color: #B4BAC5;
}